@font-face { font-family: AkzidenzGrotesk; src: url('fonts/Akzidenz-grotesk-roman.ttf'); }

*{
    padding: 0;
    margin: 0;
    -webkit-user-drag: none;
    cursor: cell;
}

.flexbox h1{
    font-family: AkzidenzGrotesk;
    font-weight: 100;
    font-size: 22.7vh;
    translate: 0 -6vh;
}

#cursor{
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    transform: translate(-50%, -50%);
    mix-blend-mode: soft-light;
    border-radius: 100%;
    border-style: groove;
    border-color: black;
    z-index: 100;
    pointer-events: none;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
}

#landing{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    background-position: top;
    background-image: url('images/moliets-background.jpg');
}

.flexbox{
    width: 100vw;
    height: 11.111vh;
    box-shadow: inset 0px 0px 0px 1px black;
    mix-blend-mode: hard-light;
    display: flex;
    justify-content: space-around;
    column-gap: 0vw;
    /* transition: all 100ms ease-in-out; */
}

.flexbox:hover{
}

.flexbox:nth-child(4){
    column-gap: 35vw;
}

.flexbox:nth-child(6){

}