@font-face { font-family: AkzidenzGrotesk; src: url('fonts/Akzidenz-grotesk-roman.ttf'); }

*{
    padding: 0;
    margin: 0;
    -webkit-user-drag: none;
    cursor: cell;
}

#cursor{
    position: fixed;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
    backdrop-filter: blur(5px);
    transform: translate(-50%, -50%);
    mix-blend-mode: soft-light;
    border-radius: 100%;
    border-style: groove;
    border-color: black;
    z-index: 100;
    pointer-events: none;
}

/*
.flexbox h1{
    font-family: AkzidenzGrotesk;
    font-weight: 100;
    font-size: 22.7vh;
    translate: 0 -6vh;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
}

#landing{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background-size: cover;
    background-position: top;
    background-image: url('images/moliets-background.jpg');
}

.flexbox{
    width: 100vw;
    height: 11.111vh;
    box-shadow: inset 0px 0px 0px 1px black;
    mix-blend-mode: hard-light;
    display: flex;
    justify-content: space-around;
    column-gap: 0vw;
    /* transition: all 100ms ease-in-out; *//*
}

.flexbox:hover{
}

.flexbox:nth-child(4){
    column-gap: 35vw;
}

.flexbox:nth-child(6){

}*/

.griddler{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

div{
    font-family: AkzidenzGrotesk;
    font-weight: 100;
    font-size: 5vw;
}

.items-middle{
    display: flex;
    background-color: red;
    align-items: center;
    border: 1px black solid;
    grid-column: 2 / span 1;
}

.balken-links-oben{
    box-shadow: inset 0px 0px 0px 1px black;
    background-color: green;
    grid-row: 1 / span 2;
    grid-column: 1 / span 1;
}

.balken-links-unten{
    background-color: green;
    grid-row: 7 / span 3;
    grid-column: 1 / span 1;
}

.balken-links-oben:nth-child(2){
    grid-row: 3 / span 2;
    grid-column: 1 / span 1;
}

.balken-links-oben:nth-child(3){
    grid-row: 5 / span 2;
    grid-column: 1 / span 1;
}


.balken-rechts-oben{
    box-shadow: inset 0px 0px 0px 1px black;
    background-color: turquoise;
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
}

.balken-rechts-oben:nth-child(2){
    box-shadow: inset 0px 0px 0px 1px black;
    grid-row: 3 / span 2;
    grid-column: 3 / span 1;
}

.balken-rechts-unten{
    box-shadow: inset 0px 0px 0px 1px black;
    grid-column: 3 / span 1;
    grid-row: 7 / span 3;
}