@font-face { font-family: AkzidenzGrotesk; src: url('fonts/Akzidenz-grotesk-roman.ttf'); }
@font-face { font-family: AkzidenzGrotesk-Black; src: url('fonts/Akzidenz-grotesk-black.ttf'); }

*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-rows: 80vh 20vh;
    grid-template-columns: 100vw;
}

a{
    color: black;
    text-decoration: none;
    padding: 1vw;
}

h1{
    font-family: AkzidenzGrotesk;
    font-size: 15vh;
}

a:has(h1:hover){
    text-decoration: underline;
}

p{
    font-family: AkzidenzGrotesk;
    font-size: 3vh;
    padding: 1vw;
    width: 100%;
}

.menu-container{
    padding-top: 6vh;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
}

.footer-container{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: end;
    text-align:justify;
}

.p-middle{
    text-align: center;
}

.back{
    position: absolute;
    font-family: AkzidenzGrotesk;
    top: 2vh;
    left: 2vh;
    font-size: 10vh;
}